<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var \Redbox\DoubleClick\Block\DoubleClick $block */
$sessionId = $block->getSessionId();
// @codingStandardsIgnoreFile
?>

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Accessories_ZA_EN
URL of the webpage where the tag is expected to be placed: https://www.buynespresso.com/za_en/accessories
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 12/13/2017
-->
<iframe src="https://4137862.fls.doubleclick.net/activityi;src=4137862;type=machine;cat=acces0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=<?php /* @escapeNotVerified */ echo $sessionId?>?" width="1" height="1" frameborder="0" style="display:none"></iframe>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
