<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: All Pages_ZA_EN
URL of the webpage where the tag is expected to be placed: https://www.buynespresso.com/za_en/
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 12/13/2017
-->
<script type="text/javascript">
    var axel = Math.random() + "";
    var a = axel * 10000000000000;
    document.write('<iframe src="https://4137862.fls.doubleclick.net/activityi;src=4137862;type=Visit0;cat=allpa0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
    <iframe src="https://4137862.fls.doubleclick.net/activityi;src=4137861;type=Visit0;cat=allpa0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?"
            width="1"
            height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
