<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/** @var \Redbox\DoubleClick\Block\DoubleClick $block */
?>

<div id="checkout-shipping-load">
    <!-- Content loaded dynamically -->
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Redbox_DoubleClick/js/dc-checkout": {}
        }
    }
</script>
