<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var \Redbox\DoubleClick\Block\DoubleClick $block */
$orderData = $block->getOrdersData();
$productData = isset($orderData['products']) ? $orderData['products'] : [];
// @codingStandardsIgnoreFile
?>
<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Order Page - ZA, EN
URL of the webpage where the tag is expected to be placed: https://buynespresso.com/za_en/checkout/onepage/success
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 12/13/2017
-->
<script type="text/javascript">
    var axel = Math.random() + "";
    var a = axel * 10000000000000;
    document.write('<iframe src="https://4137862.fls.doubleclick.net/activityi;src=4137862;type=visit523;cat=Order0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
    <iframe src="https://4137862.fls.doubleclick.net/activityi;src=4137862;type=visit523;cat=Order0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Order Details - ZA, EN
URL of the webpage where the tag is expected to be placed: https://buynespresso.com/za_en/checkout/onepage/success
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 12/13/2017
-->
<?php foreach ($productData as $product):?>
    <iframe src="https://4137862.fls.doubleclick.net/activityi;src=4137862;type=order817;cat=Order0;qty=1;cost=<?php /* @escapeNotVerified */ echo $orderData['revenue']?>;u5=<?php /* @escapeNotVerified */ echo $product['name']?>;u6=<?php /* @escapeNotVerified */ echo $product['quantity']?>;u7=<?php /* @escapeNotVerified */ echo $product['id']?>;u8=<?php /* @escapeNotVerified */ echo $product['category']?>;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=<?php /* @escapeNotVerified */ echo $orderData['id']?>?" width="1" height="1" frameborder="0" style="display:none"></iframe>
<?php endforeach;?>

<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
